// Typescript implementation of Add function
export const Add = (num: number, num2: number) => {
  return num + num2;
};

describe("Add()", () => {
  it("With positive numbers", () => {
    expect(TSXHelpers.Add(1, 2)).toBe(3);
  });

  it("With negative numbers", () => {
    expect(TSXHelpers.Add(-1, -2)).toBe(-3);
  });

  it("With decimal", () => {
    expect(TSXHelpers.Add(2.2, 3.2)).toBe(5.4);
  });
});